body{
    margin: 0;
    display: flex;
    justify-content: center;
    background: url('../src/assets/wood.jpg');
    background-size: cover;
}
*{
    color: black;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
}
h1{
    font-family: 'Trade Winds', cursive;
}