#feet-right{
    left: 48px;
    bottom: 31px;
}
#feet-left{
    left: 220px;
    bottom: 26px;
}
#knee-right{
    left: 95px;
    bottom: 52px;
}
#leg-left{
    left: 184px;
    bottom: 52px;
}
#leg-right{
    left: 112px;
    bottom: 147px;
    animation-name: kf-legright;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transform-origin: 55% 100%;
}
#belt{
    left: 130px;
    bottom: 210px;
    animation-name: kf-belt;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-duration: 5s;
}
#chest{
    left: 103px;
    top: 169px;
}
#pc{
    left: 96px;
    top: 233px;
    animation-name: kf-pc;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
    animation-duration: 5s;
    animation-delay: 0.7s;
}
#cap-ext1{
    left: 103px;
    top: 223px;
}
#biceps{
    left: 227px;
    top: 215px;
}
#forearm{
    left: 138px;
    top: 251px;
    animation-name: kf-forearm;
    animation-iteration-count: infinite;
    transform-origin: 90% 80%;
    animation-duration: 5s;
    animation-delay: 0.9s;
}
#cap-ext2 {
    right: 111px;
    top: 211px;
    animation-name: kf-cap;
    animation-iteration-count: infinite;
    transform-origin: 45% 0%;
    animation-duration: 5s;
    animation-delay: 1.5s;
}
#cap-ext3 {
    top: 238px;
    left: 191px;
    animation-name: kf-cap;
    animation-iteration-count: infinite;
    transform-origin: 45% 0%;
    animation-duration: 5s;
}
#cap-ext4 {
    left: 113px;
    top: 305px;
    animation-name: kf-cap;
    animation-iteration-count: infinite;
    transform-origin: 45% 0%;
    animation-duration: 5s;
    animation-delay: 0.75s;
}
#neck {
    top: 167px;
    left: 189px;
}
#head {
    left: 145px;
    top: 65px;
}
#feather1 {
    top: 40px;
    left: 180px;
    animation-name: kf-feather1;
    animation-iteration-count: infinite;
    transform-origin: 90% 100%;
    animation-duration: 5s;
    animation-delay: 1.5s;
}
#feather2 {
    top: 50px;
    left: 240px;
    animation-name: kf-feather2;
    animation-iteration-count: infinite;
    transform-origin: 0% 90%;
    animation-duration: 5s;
    animation-delay: 1.6s;
}
#feather3 {
    top: 90px;
    left: 240px;
    animation-name: kf-feather3;
    animation-iteration-count: infinite;
    transform-origin: 0% 70%;
    animation-duration: 5s;
    animation-delay: 1.7s;
}
#feather4 {
    top: 120px;
    left: 240px;
    animation-name: kf-feather4;
    animation-iteration-count: infinite;
    transform-origin: 0% 15%;
    animation-duration: 5s;
    animation-delay: 1.8s;
}

.A-legright, .A-legleft, .A-up, .A-leg, .A-chest, .A-arm, .A-neck, .A-head, .A-hat{
    width: 400px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.A-legright{
    animation-name: kf-knee;
    transform-origin: 30% 90%;
}
.A-legleft{
    animation-name: kf-legleft;
    transform-origin: 60% 90%;
    .A-up{
        animation-name: kf-up;
        transform-origin: 50% 50%;
        .A-chest{
            animation-name: kf-chest;
            transform-origin: 50% 52%;
            animation-delay: 0.5s;
            .A-arm{
                animation-name: kf-biceps;
                transform-origin: 63% 35%;
                animation-delay: 0.7s;
            }
            .A-neck{
                animation-name: kf-neck;
                transform-origin: 50% 28%;
                animation-delay: 0.5s;
                .A-head{
                    animation-name: kf-head;
                    transform-origin: 50% 25%;
                    animation-delay: 1s;
                }
            }
        }
    }
}