@keyframes kf-legleft {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-knee {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-legright {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-up {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes kf-belt {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(0px);
    }
    
}
@keyframes kf-chest {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-pc {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-biceps {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-forearm {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-cap {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(4deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-neck {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-head {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-feather1 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(50deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-feather2 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-feather3 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes kf-feather4 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}