.sign{
    width: 1100px;
    height: 675px;
    margin: 75px 0;
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: url('../src/assets/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .perso-animated{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 670px;
        background-image: url(../src/assets/bg-perso.jpg);
        *{
            overflow: hidden;
            user-select : none;
        }
        img{
            user-select : none;
            position: absolute;
        }
    }
    .no-perso{
        width: 700px;
        display: flex;
        flex-direction: column;
        header{
            width: 700px;
            display: flex;
            justify-content: center;
            .info-primary{
                width: 600px;
                min-width: 430px;
                .name,.pseudo,.class,.level,.pv{
                    align-items: center;
                    justify-content: center;
                    margin: 4px 0;
                    display: flex;
                    font-size: 20px;
                    font-family: 'Trade Winds', cursive;
                    h1{
                        margin: 0 0 0 25px;
                    }
                }
            }
        }
        .view{
            display: flex;
            justify-content:space-around;
            .routerLink{
                width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content:space-around;
                background-image: url('../src/assets/pinceau.png');
                background-repeat: no-repeat;
                background-size: cover;
                P{
                    color: rgb(250, 222, 162);
                    font-size: 20px;
                    font-weight: 1000;
                }
            }
            span{
                display: flex;
                position: absolute;
                transform: scaleX(0);
                transform-origin: left 50%;
                height: 3px;
                transition: 0.4s;
                width: 200px;
                background: black;
            }
        }
    }
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    .stats{
        width: 680px;
        padding: 0;
        height: 195px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        h2{
            display: flex;
            justify-content: center;
            margin: 5px 0 0 0;
        }
        ul{
            display: flex;
            justify-content: space-around;
            padding: 0;
            margin-top: 5px;
            li{
                list-style: none;
                border: 1px black solid;
                width: 105px;
                height: 70px;
                text-align: center;
                .stat{
                    margin: 0;
                    .titleStat{
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                    .value{
                        display: flex;
                        justify-content: center;
                        position: relative;
                        bottom: 5px;
                        font-size: 35px;
                    }
                }
                .descri{
                    border: 3px black solid;
                    width: 640px;
                    top: 10px;
                    position: relative;
                }
                .fo{
                    left: 0;
                }
                .int{
                    left: -135px;
                }
                .ad{
                    left: -271px;
                }
                .vol{
                    left: -407px;
                }
                .cha{
                    left: -544px;
                }
            }
        }
    }
}

.volet-skill{
    display: flex;
    justify-content: center;
    ul{
        padding: 0;
        margin: 0;
        height: 235px;
        width: 650px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        left: 0px;
        li{
            display: flex;
            height: 36px;
            h3{
                min-width: 150px;
                height: 30px;
                background: rgb(112, 34, 34);
                color: rgb(250, 222, 162);
                font-size: 20px;
                font-weight: 1000;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
                text-align: center;
                margin: 8px 0 0px 10px;
                border-radius: 0 0 0 15px;
                margin-right: 10px;
                cursor: pointer;
            }
            h3:hover{
                transition: all 0.1s ease-in-out;
                min-width: 160px;
                transform:translateX(-10px);
                margin-right: 0px;
            }
            div{
                font-family: 'Hahmlet', serif;
                height: 230px;
                position: relative;
                padding: 10px;
                width: 460px ;
                background-color: rgba(251, 240, 216, 0.637);
            }
        }
    }
    #skill-1{
        top: 0;
    }
    #skill-2{
        top: -36px;
    }
    #skill-3{
        top: -72px;
    }
    #skill-4{
        top: -108px;
    }
    #skill-5{
        top: -144px;
    }
    #skill-6{
        top: -180px;
    }  
}

.volet-story{
    display: flex;
    justify-content: center;
    ul {
        margin: 15px 0 0 0;
        height: 425px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 650px;
        left: 0px;
        padding: 0;
        li{
            display: flex;
            height: 36px;
            h3{
                min-width: 150px;
                height: 30px;
                background: rgb(121, 8, 8);
                color: rgb(250, 222, 162);
                font-size: 20px;
                font-weight: 1000;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
                text-align: center;
                margin: 8px 0 0px 10px;
                border-radius: 0 0 0 15px;
                margin-right: 10px;
                cursor: pointer;
            }
            h3:hover{
                transition: all 0.1s ease-in-out;
                min-width: 160px;
                transform:translateX(-10px);
                margin-right: 0px;
            }
            #story-1, #story-2, #story-3, #story-4, div{
                font-family: 'Hahmlet', serif;
                height: 430px;
                position: relative;
                padding: 10px;
                width: 460px ;
                background-color: rgba(251, 240, 216, 0.637);
                div{
                    background-color:rgba(0, 0, 0, 0);
                }
            }
        }
    }
    #story-1{
        top: 0;
        z-index: 1;
    }
    #story-2{
        top: -36px;
        #tableau{
            font-size: 14px;
            margin: 0;
            padding: 0;
            width: 90%;
            display: flex;
            flex-direction: column;
            .exp{
                height: 60px;
                margin: 2px 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-bottom: 3px black solid;
                .date{
                    height: 45px;
                    margin: 0;
                    padding: 0;
                    width: 100px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-right: 3px red solid;
                }
                .def{
                    font-size: 16px;
                    width: 350px;
                    height: 20px;
                    margin: 0;
                    padding: 0;
                }
                .lieu{
                    margin: 0;
                    padding: 0;
                    height: 20px;
                    width: 350px;
                }
                
            }.final{
                    border-bottom: none;
                }
        }
    }
    #story-3{
        top: -72px;
        div{
            width: auto;
            height: auto;
            font-size: 20px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            a:hover{
                text-decoration: underline;
            }
            a{
                text-align: center;
            }
        }
        .projet{
            justify-content: space-between;
            border-bottom: 3px red solid;
            margin-bottom: 3px;
            .descri{
                font-size: 15px;
                a{
                    font-size: 18px;
                    margin: 5px;
                }
            }
        }
    }
    #story-4{
        top: -108px;
        display: flex;
        justify-content: space-around;
        .passion{
            margin: 0;
            width: 90px;
            height: 130px;
            p{
                text-align: center;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.volet-mapping{
    display: flex;
    flex-direction: column;
    align-items: center;
    #contact{
        width: 650px;
        padding-left: 30px;
        p{
            font-size: 20px;
            margin: 14px 0;
            i{
                position: relative;
                font-size: 20px;
                margin: 0 10px 0 10px;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    #googlemap{
        width: 650px;
        height: 288px;
    }
}