#bloc-router{
    overflow: hidden;
}

.slide-enter-active, .slide-leave-active {
    transition: all 0.5s ease-out;
}

.slide-leave-to {
    opacity: 0;
    transform: scale(0.9);
}

.slide-enter-to {
    right: 0;
    position: relative;
}

.slide-enter-from {
    right: -100%;
    position: relative;
}