.volet-mapping{
    @include flexAndCenter;
    flex-direction: column;
    #contact{
        width: 650px;
        padding-left: 30px;
        p{
            font-size: 20px;
            margin: 14px 0;
            i{
                font-size: 20px;
                margin: 0 10px 0 10px;
                position: relative;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    #googlemap{
        width: 650px;
        height: 288px;
    }
}